body{
  background-color: white;
}

.card{
  border: 1px solid lightblue;
}

.list-group-item{
  font-size: small;
}

.small{
  font-style: italic;
  font-size: xx-small;
}

.container{
  display: flex;
}
